
.projectWrapper {
    
    display: flex;
}

.projectCard {
    display: flex;
    height: 588px;
    margin-top: 0px;
    align-items: center;
    position: relative;

}

.projectHeadline {
    font-family: "Inter" sans-serif;
    font-weight: light;
}

.projectCard a {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 40.5vw;
    display: flex;
}

.projectImage {
    width: 63vw;
    height: 46vw;
}

.mainImage {

    width: 55vw;
}